html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    margin-top: 30px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.balance-display {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.vevo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    transition: transform 0.2s, box-shadow 0.2s;
}

.vevo-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vevo-button:active {
    transform: scale(0.95);
}

/* Token kazancı yazısı */
.token-display {
    position: absolute;
    top: 20%; /* Yazı ekranın üst kısmında belirecek */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: bold;
    color: #f0f6f2; /* Yeşil renk */
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.token-display.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px); /* Yazı yukarı zıplar */
}

.token-display.hide {
    opacity: 0; /* Yazı kaybolur */
}

/* Dym logosu */
.dym-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30%; /* Genişliği opsiyonel olarak ayarlayabilirsiniz (örn: 300px veya %50) */
    height: auto; /* Yükseklik genişliğe göre orantılı ayarlanır */
    opacity: 0;
    transition: opacity 0.2s;
}

.dym-logo.show {
    opacity: 1;
}

.dym-logo.hide {
    opacity: 0;
}
